examples/llm-round-robin.json
{
  "name": "LLM Round Robin Example",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "store",
        "spotCount": 3,
        "roles": {
          "roleValues": [
            {
              "name": "Critic",
              "description": "Provides critical feedback on ideas"
            },
            {
              "name": "Creator",
              "description": "Generates creative ideas"
            },
            {
              "name": "Analyst",
              "description": "Analyzes and refines ideas"
            }
          ]
        },
        "inputField": "message",
        "spotIndex": "={{$node[\"Set Loop\"].json[\"index\"]}}"
      },
      "name": "Round Robin",
      "type": "n8n-nodes-base.roundRobin",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "prompt": "=You are a {{$node[\"Set Loop\"].json[\"role\"]}}. Your task is to respond to this idea: \"{{$node[\"Set\"].json[\"idea\"]}}\"\n\nPlease provide your perspective based on your role.",
        "options": {}
      },
      "name": "LLM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Set Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "inputData": {
        "json": [
          {
            "index": 0,
            "role": "Critic"
          },
          {
            "index": 1,
            "role": "Creator"
          },
          {
            "index": 2,
            "role": "Analyst"
          }
        ]
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Set Loop\"].context[\"noItemsLeft\"]}}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Loop Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "mode": "retrieve",
        "outputFormat": "array"
      },
      "name": "Retrieve Messages",
      "type": "n8n-nodes-base.roundRobin",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "idea",
              "value": "A smart home system that adapts to user behavior"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Set Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Round Robin": {
      "main": [
        [
          {
            "node": "Loop Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "main": [
        [
          {
            "node": "Round Robin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Loop": {
      "main": [
        [
          {
            "node": "LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Completed": {
      "main": [
        [
          {
            "node": "Retrieve Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 